.jumbotron {
    background-image: url("https://www.smak.co.za/images/bg.jpg");
    background-size: 100% 100%;
    color: #b0bec5;
    margin-bottom: 0;
  }
  .navbar-scroll {
    background-color: rgba(0,123,255,0.4);
    transition: background-color 0.5s;
  }
  @media(max-width: 768px){
      .navbar {background-color: rgba(0,123,255,0.4) !important; }
  }
  /* ============================================================
    PRIMARY STRUCTURE
  ============================================================ */
  .parallax-container {
    max-width: 960px;
    margin: 0 auto;
  }

  .box-shadow-navbar {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  }

  .no-box-shadow-navbar {
    box-shadow: 0 0px 0px 0 rgb(32 33 36 / 28%)!important;
  }
  
  .text-color-nav {
    color: black;
    /* font-weight: 600; */
  }

  .navbar-nav>.active>a {
    background-color: #fcb900!important;
    border-radius: 5px;
    color: black!important;
  }


  .dropbtn {
    background-color: #fcb900;
    color: white;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #fcb900;
  }
  
  /* .nav-item:hover {
    background-color: #fcb900;
  } */