/* The css styles below is about the sidebar and the global main.*/
* {
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

/* Sidebar*/
#pgside {
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 15%;
    transition: width 0.2s;
    /* background: #13423e; */
    background: #13423e7a;

}


.title {
    padding: 10px;
    text-align: center;
    margin-bottom: 17px;
    margin-top: 0px;
    margin-left: -23px;
}

.text-logo {
    font-size: 1.25rem;
    font-style: normal;
    color: #f9d957;
    font-weight: bolder;
    text-transform: uppercase;
    /* color: #f9d957; */
}

#pgmain {
    flex-grow: 1;
    margin-left: 15%;
    margin-top: 4%;
    /* position: fixed; */
    width: 80%;
}

/* Resonsive transformation for mobile display. We can enhance it if needed. */
@media screen and (max-width:768px) {
    #pgside {
        width: 15%;
    }

    #pgside #pguser {
        justify-content: center;
    }

    #pgside a {
        text-align: center;
        /* padding: 20px 0; */
    }

    #pgside i.ico {
        font-size: 1.5em;
        margin-right: 0;
    }

    /*#pgside i.txt { display: none; }*/
    #pgmain {
        /* margin-left: 15% !important; */
        /* width: 80%; */
    }
    
    .filtre1 {
    width: 110px !important;
    max-width: 100% !important;
  }
    .radioB1 {
    width: 110px !important;
    max-width: 100% !important;
  }
  .date-container {
    width: 100px !important;
    max-width: 100% !important;
  }
  
  .selectButton .shiny-bound-input{
    width: 110px !important;
    max-width: 100% !important;
  }
}



.filtre1 {
    width: 200px !important;
    max-width: 100%;
}
.date-container {
    width: 200px !important;
    max-width: 100%;
}

.input-daterange .input-group-addon{
    margin-top: -4px;
}

.input-group-text{
   background-color: #ffffff00 !important;
   border: none !important;
   color: #fff !important;
   font-weight: bolder !important;
}
.radioB1 {
    width: 200px !important;
    max-width: 100%;
}

input#custom-input-date, label {
    color: #fff !important;
}

.form-group {
    margin-bottom: 0.6rem !important;
}

.selectButton {
    width: 200px !important;
    max-width: 100%;
}
.selectButton .shiny-bound-input{
    background: #fcb900 !important;
    color: #000 !important;
    font-weight: bolder !important;
    margin-top: 3px !important;
    font-size: 1.1rem !important;
    margin-left: 12% !important;
    width: 200px !important;
    max-width: 100%;
}

#form-1 {
  display: none;
}

#form-2 {
  display: none;
}

#form-3 {
  display: none;
}

#form-4 {
  display: none;
}

#form-5 {
  display: none;
}

#form-6 {
  display: none;
}

#form-7 {
  display: none;
}

#form-8 {
  display: none;
}




