* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180%;
  background: linear-gradient(135deg, rgb(4 34 34) 0%, rgb(9 148 108) 100%);
  /* margin-left: 20%;
    margin-top: 4%; */

  /* color: #4cf636; */
}

#canvas2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180%;
  background: linear-gradient(135deg, rgb(4 34 34) 0%, rgb(9 148 108) 100%);
  /* margin-left: 20%;
    margin-top: 4%; */

  /* color: #4cf636; */
}

#canvas3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180%;
  background: linear-gradient(135deg, rgb(4 34 34) 0%, rgb(9 148 108) 100%);
  /* margin-left: 20%;
    margin-top: 4%; */

  /* color: #4cf636; */
}

.select1 {
  margin-top: 3px;
  font-size: 1.1rem;
  color: #fff;
  /* color: #f9d957; */
}



.block1 {
  height: 460px;
}
.blockEDA {
  height: 600px;
}
.fixed-top {
  background-color: #b7e3de;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  width: 80%;
  margin-left: 15%
}

#date {
  width: 100%;
  outline: none;
  border: 1px solid #aaa;
  padding: 6px 28px;
  color: #aaa;
  border-radius: 0.25rem;
}

.date-text {
  position: absolute;
  top: 6px;
  left: 12px;
  color: #aaa;
}

.date-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  /* pointer-events: none; */
  cursor: pointer;
  color: #aaa;
}

input#custom-input-date,
label {
  display: block;
  outline: none;
}

.input-field {
  margin-bottom: 16px;
}


input#custom-input-date {
  padding: 12px 16px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  color: #212529;
  font-size: 14px;
  font-weight: 500;
}

input.calendar {
  background-image: url('https://bytebucket.org/fuoricitta/form-best-practice/raw/197f5e38bea1d53b52102b6c98e0e6b129dd6908/Examples/assets/img/calendar.png?token=b57efe00e0e5d28327a3b62e263519c284c70d53');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.label-error {
  height: 10px;
  margin-top: 4px;
  font-size: 10px;
  color: #DC3545;
}

input#custom-input-date:hover {
  border: 1px solid #8f8f8f;
}

input#custom-input-date:focus {
  border: 1px solid #007BFF;
}

.error {
  border: 1px solid #DC3545 !important;
  margin-left: 20%
}

@media(max-width: 991px) {
  #canvas1 {
    height: 312vh;
    width: 115%;
  }
}

.plot4 {
  /*font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  margin-top: 130px;*/
}

label .test1 {
  display: none;
}

label:hover .firstRadio {
  display: none;
}

label:hover .test1 {
  display: inline;
}

#plot1 {
  display: block;
}

#plot2 {
  display: none;
}

#plot3 {
  display: none;
}

#plot4 {
  display: none;
}

#plot5 {
  display: none;
}

#plot6 {
  display: none;
}

#plot7 {
  display: none;
}

#plot8 {
  display: none;
}

.nav-pills .nav-link.active {
  background-color: #fcb900 !important;
}
  /* scroll horizontal eda */
  .menu-wrapper {
    position: relative;
    max-width: 100%;
    /* height: 100px; */
    margin: 2em auto;
    /* border: 1px solid black; */
  }

  /* .menu	{
	
	background: #f3f3f3;
	display: flex;
  overflow-x: auto;
} */

  .menuVariable {
    background: transparent;
    box-sizing: border-box;

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .itemVariable {
    display: inline-block;
    width: 233px;
    height: 100px;
    margin-inline: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-inline: 1em;
    padding-top: 0em;
    cursor: pointer;
    background-color: white;
    border-radius: 2px;
  }

  .itemVariable:hover {
    box-shadow: 2px 2px 35px #d6dadc94
  }

  .paddles {

  }

  .paddle {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3em;
    border: none !important;
  }

  .left-paddle {
    left: 0;
  }

  .right-paddle {
    right: 0;
  }

  .hidden {
    display: none;
  }
