/*Netzwerkanalyse legend position*/
#legendWrapper {
  display: inline-block;
  position: absolute;
  margin-top: 275px;
  left: 0px;
}

/*button tabelle*/
#mainContentRouter-eoEventTableAccordionACLED-eoEventTable-actionFilter {
  margin-left: 0%;
}

/*button tabelle*/
#mainContentRouter-eoActorTableAccordionACLED-eoActorTable-actionFilter {
  margin-left: 0%;
}

/* Tabset Panel */
ul.nav>li {
    padding: 0px;
    color: #000;
    border-radius: 5px;
    border: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  
  .nav-tabs {
    border: 0px;
  }
  
  ul.nav>li.active {
    background-color:#fff;
  }
  
  ul.nav>li.active>a {
    text-decoration: none;
    color: #3392c5;
    font-weight: 600;
    background-color: #fff;
  }
  
 /*  ul.nav>li:hover {
    background-color:none;
  } */

  ul.nav>li>a:hover {
    color: #3392c5;
  }
  
  @media (max-height: 680px) {
    #sidebar-wrapper {
      overflow: auto;
    }
  }
    
  @media (min-width: 577px) {
    #wrapper {
      padding-left: 275px;
    }
    
    #wrapper.toggled {
      padding-left: 0px;
    }
    
    #wrapper.toggled #filterBox {
      display: none;
    }
  
    #sidebar-wrapper {
      width: 275px;
    }
    
    #wrapper.toggled #sidebar-wrapper {
      width: 0px;
      overflow: auto;
    }
    
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -225px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -225px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 0px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 60px;
    }
  }
    
  @media (max-width: 576px) {
    
    #wrapper {
      padding-left: 0;
    }
  
    #sidebar-wrapper {
      width: 0;
      overflow: auto;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      width: 275px;
    }
    
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -225px;
    }
  
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -225px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 275px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 275px;
    }
  }